############################
# Visual Studio
############################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

############################
# Build results
############################
bin/
obj/

############################
# .NET
############################
*.dll
*.exe
*.pdb
*.cache
*.log

############################
# Test results
############################
TestResults/
*.trx

############################
# NuGet
############################
packages/
*.nupkg
*.snupkg
.nuget/

############################
# Rider / VS Code (optionnel)
############################
.idea/
.vscode/

############################
# OS
############################
.DS_Store
Thumbs.db
